@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(font.css);

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Helvetica, sans-serif;
}

.login-line::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #e0e0e0;
}
