@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(font.css);

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', Helvetica, sans-serif;
}
